<div class="forgot">
  <div class="forgot-classic">
    <h2>Forgot your password?</h2>
    <form class="form">
      <fieldset class="email">
        <input type="email" placeholder="email" />
      </fieldset>
      <button type="submit" class="btn">Send email</button>
    </form>
  </div>
</div>
