<div class="all">
  <div class="signup">

    <div class="signup-connect">
      <h1>Info Profile</h1>
      <form class="form">
        <fieldset class="name">
          <input type="text" placeholder="name" />
        </fieldset>
        <fieldset class="phone">
          <input type="tel" placeholder="phone" />
        </fieldset>
        <fieldset class="address">
          <input type="text" placeholder="address" />
        </fieldset>
        <input class="sex" name="gioitinh" type="radio" value="Nam" />Nam
        <input class="sex" name="gioitinh" type="radio" value="Nữ" />Nữ
      </form>
    </div>
    <div class="signup-classic">
      <form class="form add-form">
        <fieldset class="email">
          <input type="email" placeholder="email" />
        </fieldset>
        <fieldset class="password">
          <input type="password" placeholder="password" />
        </fieldset>
        <fieldset class="password">
          <input type="password" placeholder="password confirm" />
        </fieldset>
        <button type="submit" class="btn">Create</button>
      </form>
    </div>
  </div>
</div>
